<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Important Tag</title>
        <meta http-equiv="refresh" content="2">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">

        <meta name="keywords" content="HTML5, Browsers, meta tags">
        <meta name="author" content="Stuart Marr Erskine">
        <meta name="description" content="This is my description for this page">
    </head>
    <body>
        <h1>Careers</h1>
        <a href="index.html">Home</a><br/>
    </body>
</html>