<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Using CSS Examples</title>
    <meta http-equiv="refresh" content="2">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <meta name="keywords" content="HTML5, Browsers, meta tags">
    <meta name="author" content="Stuart Marr Erskine">
    <meta name="description" content="Using css">
    <style>
        .roundbox {
            font-family: Arial;
            text-align: center;
            font-size: 18px;
            width: 175px;
            height: 40px;
            border: 2px; solid #8A8585;
            background: #CFCBCB;
            border-radius: 20px;
            margin: 10px 10px 15px 20px;
            line-height: 20px;
        }
    </style>
</head>
<body>
    <div id="wrapper" style="width: 100%; height: 100%;">
        <div id="banner" style="width: 100%; height: 100px; background-color: orange">
            The Content Banner
        </div>
        <div id="nav" style="width: 10%; height: 400px; background-color: yellow; float: left;">
            Navigation
        </div>
        <div id="content" style="width: 100%px; height: 600px; background-color: green">
            Content
            <div class="roundbox">Round Box 1</div>
            <div class="roundbox">Round Box 2</div>
            <div class="roundbox">Round Box 3</div>
            <div class="roundbox">Round Box 4</div>
        </div>
        <div id="footer" style="width: 100%; height: 100px;">
            Footer
            <address><a href="index.html">Homepage</a></address>
        </div>
    </div>
</body>
</html>