<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Important Tag</title>
        <meta http-equiv="refresh" content="2">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">

        <meta name="keywords" content="HTML5, Browsers, meta tags">
        <meta name="author" content="Stuart Marr Erskine">
        <meta name="description" content="This is my description for this page">
    </head>
    <body>
        <div id="wrapper" style="width: 1280px; height: 700px;"></div>
        <div id="banner" style="width: 1280px; height: 100px; background-color: orange"></div>
        <div id="nav" style="width: 1280px; height: 700px; background-color: yellow; float: left;"></div>
        <div id="content" style="width: 1280px; height: 700px; background-color: green"></div>
        <div id="footer" style="width: 1280px; height: 100px;"></div>
        <div id="wrapper" style="width: 1280px; height: 700px;"></div>

    </body>
</html>