.banner {
    height:100px;
    width:100%;
    background-color: dodgerblue;
    color: black;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
}
.content {
    height:100%;
    width:100%;
    background-color: white;
    font-family: Calibri;
}
.aside {
    height: 100%;
    float: left;
    background-color: lightblue;
    font-family: Consolas;
    padding: 10px;
    margin: 0px 20px 15px 0px;
    color: white;
}

.strong {
    font-weight: bold;
    font-size: larger;
}

ul {
    list-style-position: inside;
}

table {
    border: 2px solid black;
}

th {
    minWidth: 200px;
    border: none;
    font-family: Calibri;
    font-size: medium;
    font-weight: bold;
    border-top: none;
    border-left: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 1px;
    text-align: center;
}

td {
    font-weight: normal;
    font-size: medium;
    border: none;
    border-top: none;
    border-left: 1px solid black;
    border-right: none;
    border-bottom: none;
    text-align: left;
    padding: 5px;
}

